button {
  cursor: pointer;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 80px);
}

.c-item {
  border-radius: 0;
  border: 1px solid gray;
  background-color: #dfdfdf;
  height: 50px;
}

.output {
  grid-column: 1 / span 4;
  background-color: #858193;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 25px;
  color: white;
  padding-right: 10px;
}

.zero {
  grid-column: 1 / span 2;
}

.bg-orange {
  background-color: #f69510;
}
