* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: whitesmoke;
  background: linear-gradient(
    87deg,
    rgba(0, 0, 0, 0.840696019618785) 0%,
    rgba(56, 50, 152, 1) 100%
  );
}

.container {
  width: 80%;
  margin: 7% auto;
}

.nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2% 10%;
  background-color: rgba(0, 0, 0, 0.75);
}

.nav-bar ul {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: flex-end;
}

.nav-bar ul li {
  display: flex;
  padding-left: 12%;
}

.nav-bar .nav-link {
  color: wheat;
  text-decoration: none;
}
